* {
  font-family: Verdana, Geneva, Tahoma, sans-serif; 
}
.nav_bar{
  background-color:hsl(165, 13%, 12%);
  box-shadow: 0 0 25px 0 black; 
  left: 0;  
  right: 0; 
  width: 100%; 
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  padding:  40px 0%;
  min-width:400px;
}
.active {
  padding-left: 20px;
  padding-right: 20px;
  border: #E4E0D9;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 20px;
}

nav a{
  text-decoration: none;
  color: white;
}
li{
  display: inline-block;
  align-items: center;
  justify-content: center;
  padding: 0px 50px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

li .account a{
  background-color:  #1C86A2;
}

li .sc a{
  background-color:  #74BF87;
}
li .account a, li .sc  a{
  flex-shrink: 0;
  flex-grow: 20;
  width: 100%;
  border-radius: 10px; 
  height: 50px;
  padding: 0px 20px;
  display: inline-block;
  text-align: center;
}

.searching {
  display: flex;
  margin: 0 1rem;  
  flex-shrink: 2;
  flex-grow: 1;
  flex-flow:nowrap;
}

.search {
  width: 35em;
  min-width: 20px;
  height: 2em;
  border: 5px solid #505870;
  border-right: none;
  border-radius: 10px 0 0 10px;
  font-size: 18px;
  text-align: left;
  padding: 10px;
}

input.search:focus {
  outline-width: 0;
}
.searchButton {
  position: relative;
  width: 10%;
  border: 5px solid #505870;
  background: #505870;
  display: inline-block;
  text-align: center;
  color: white;
  border-radius: 0 10px 10px 0;
  cursor: pointer;
  font: 10em;
}


.wrap{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

body{
  background-color: #E4E0D9;
}



@media screen and (max-width: 1000px) {
  .nav_bar  {
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }
  .active, .nav_bar a, li {
    display: inline-block;
    text-align: center;
    width: 80%;
    margin: 10px;
    padding: 0;
  }
  li .account a, li .sc a {
    width: 85%;
  }
}
form{
  margin: 2% 3%;
}



input[class=register]{
    width: 80%;
    padding: 12px 20px;
    margin-top: 10px;
    margin-bottom: 0px;
    box-sizing: border-box;
    border-radius: 10px;
    border: solid;
    border-width: 0px;
  }
 
 .form-label{
  margin: 20px 0px;
  padding: 10px 0px;
 }
  textarea {
    padding: 12px 20px;
    margin: 8px 0px;
    height: 500px;
    width: 80%;
    resize: none;
    color: #505870;
    border-radius: 10px;
    border: solid;
    border-width: 0px;
    color: #505870;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    
  }
  input[id="date-birth"]{
    border-radius: 10px;
    padding: 12px 60px;
    border: solid;
    border-width: 0px;
    color: #505870;

    margin-top: 10px;
    margin-bottom: 10px;
  }

.gender{
  margin: 20px 0px;
  display : inline-flex;
  width : 75%;
  justify-content: space-between;
  
  
}
input[type='radio'] {
  
  height: 20px;
  width: 20px;
  margin: 0px;
}
.sex-label{
  display: block;
  padding: 0px 5px 0px 5px;
}
  td {
    width: 75%;
    vertical-align: top;
  }

  .button{
    background-color:  #1C86A2;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.8;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    border-radius: 10px;
    
  }
  
  .button:hover{opacity:2}

  .center {
    float: center;
    text-align: center;
   }



   .left {
    float: left;
    text-align: left;
   }

   .logo {
    position:absolute;
    left:20px;
    top:20px;
 }
 .center{
  padding-top: 5%;
 }

 .under-input{
  margin-top: 0px;
  margin-bottom: 20px;
 }

 .pass{
  margin: 10px 0px;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  border: #505870;
 }
 .showPass{
  margin: 10px 0px;
 
 }