* {
  font-family: Verdana, Geneva, Tahoma, sans-serif; 
}
.nav_bar{
  background-color:hsl(165, 13%, 12%);
  box-shadow: 0 0 25px 0 black; 
  left: 0;  
  right: 0; 
  width: 100%; 
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  padding:  40px 0%;
  min-width:400px;
}
.active {
  padding-left: 20px;
  padding-right: 20px;
  border: #E4E0D9;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 20px;
}

nav a{
  text-decoration: none;
  color: white;
}
li{
  display: inline-block;
  align-items: center;
  justify-content: center;
  padding: 0px 50px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

li .account a{
  background-color:  #1C86A2;
}

li .sc a{
  background-color:  #74BF87;
}
li .account a, li .sc  a{
  flex-shrink: 0;
  flex-grow: 20;
  width: 100%;
  border-radius: 10px; 
  height: 50px;
  padding: 0px 20px;
  display: inline-block;
  text-align: center;
}

.searching {
  display: flex;
  margin: 0 1rem;  
  flex-shrink: 2;
  flex-grow: 1;
  flex-flow:nowrap;
}

.search {
  width: 35em;
  min-width: 20px;
  height: 2em;
  border: 5px solid #505870;
  border-right: none;
  border-radius: 10px 0 0 10px;
  font-size: 18px;
  text-align: left;
  padding: 10px;
}

input.search:focus {
  outline-width: 0;
}
.searchButton {
  position: relative;
  width: 10%;
  border: 5px solid #505870;
  background: #505870;
  display: inline-block;
  text-align: center;
  color: white;
  border-radius: 0 10px 10px 0;
  cursor: pointer;
  font: 10em;
}


.wrap{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

body{
  background-color: #E4E0D9;
}



@media screen and (max-width: 1000px) {
  .nav_bar  {
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }
  .active, .nav_bar a, li {
    display: inline-block;
    text-align: center;
    width: 80%;
    margin: 10px;
    padding: 0;
  }
  li .account a, li .sc a {
    width: 85%;
  }
}
form{
  height: 55%;
  width: 70%;
  background-color: #505870;
  top: 50%;
  bottom: 20%;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255,255,255,0.1);
  box-shadow: 0 0 40px rgba(8,7,16,0.6);
  margin-top: 50px;
  margin-bottom: 70px;
  margin-left: 70px;
  padding: 30px 35px 30px;
  display: inline-block;
  color: #ffffff;
  letter-spacing: 0.5px;
}

h2{
  text-align: center;
  font-size: 32px;
  padding: 15px;
}


label{
  padding-bottom: 10px;
  padding-top: 10px;
  font-size: 16px;
  width: 90%;
  display: inline-block;
  text-align: left
  
}

.placement input, textarea {
  padding: 10px;
  margin: 10px;
  font-size: 14px;
  border: 1px solid #E4E0D9;
  border-radius: 10px;
  text-align: left;
  vertical-align: baseline;
  justify-content: center;
  
}

input::file-selector-button {
  font-weight: bold;
  padding: 10px;
  border: thin solid grey;
  border-radius: 10px;
  opacity: 0.8;
}

input[type="file"]::file-selector-button:hover,
.button:hover{
  opacity: 2;
}
.button {
  background-color:  #1C86A2;
  border: none;
  color: white;
  padding: 20px 45px;
  font-size: 20px;
  margin: 15px 20px;
  opacity: 0.8;
  transition: 0.3s;
  display:inline-block;
  text-decoration: none;
  cursor: pointer;
  border-radius: 10px;
  
}


.placement  {
  justify-content: center;
  width: 100%;
  text-align: center;
  clear: both;
  
}

.placement input{
    width: 90%;
    clear: both;
    
    
}
 

textarea {
  resize: none;
  width: 90%;
  height: 150px;
  text-align: left;
  vertical-align:bottom;
  word-wrap: break-word;

}




  